In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Reference CSV path
stanford_data = "Stanford_MSA_Database.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
shooting_data = pd.read_csv(stanford_data)
shooting_data.head()

,CaseID,Title,Location,City,State,Latitude,Longitude,Number of Civilian Fatalities,Number of Civilian Injured,Number of Enforcement Fatalities,...,Data Source 3,Data Source 4,Data Source 5,Data Source 6,Data Source 7,Military Experience,Class,Depreciation,Notes,Edit Date
0,1,University of Texas at Austin,"Austin, Texas",Austin,Texas,30.198887,-97.844159,15,32,1,...,http://news.google.com/newspapers?id=lkk0AAAAI...,http://news.google.com/newspapers?id=PPUjAAAAI...,http://books.google.com/books?id=ClYEAAAAMBAJ&...,NaN,NaN,Yes,SPK,1,NaN,6/8/2016
1,2,Rose-Mar College of Beauty,"Mesa, Arizona",Mesa,Arizona,33.422687,-111.816320,5,1,0,...,http://www.nydailynews.com/news/crime/beauty-s...,http://books.google.com/books?id=Cre7qsswRiwC&...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/8/2016
2,3,New Orleans Police Shootings,"New Orleans, Louisiana",New Orleans,Louisiana,30.068724,-89.931474,4,8,5,...,http://www.trutv.com/library/crime/notorious_m...,http://books.google.com/books?id=TfEDmROcZwEC&...,NaN,NaN,NaN,Unknown,SPK,1,NaN,6/22/2016
3,4,Clara Barton Elementary School,"Chicago, Illinois",Chicago,Illinois,41.839280,-87.688181,1,3,0,...,http://www.leagle.com/xmlResult.aspx?page=1&xm...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
4,5,Olean High School,"Olean, New York",Olean,New York,42.081854,-78.432139,3,7,0,...,http://www.newswithviews.com/Erica/Carle10.htm,http://books.google.com/books?id=ZuKoSskEWyIC&...,"""Olean High School Shooting"". Larrie Benton Za...",NaN,NaN,Unknown,MS,1,NaN,6/21/2016

In [4]:
len(shooting_data)

335

In [7]:
mentalcounts = shooting_data['History of Mental Illness - General'].value_counts()

In [8]:
pd.DataFrame(mentalcounts)

         History of Mental Illness - General
Unknown                                  145
Yes                                       96
No                                        94

In [9]:
schoolcounts = shooting_data['School Related'].value_counts()

In [10]:
pd.DataFrame(schoolcounts)

         School Related
No                  246
Yes                  74
Unknown              13
Killed                1
no                    1

In [11]:
grouped_by_motive = shooting_data.groupby(["Possible Motive - General"])
grouped_by_motive.count().head()

,CaseID,Title,Location,City,State,Latitude,Longitude,Number of Civilian Fatalities,Number of Civilian Injured,Number of Enforcement Fatalities,...,Data Source 3,Data Source 4,Data Source 5,Data Source 6,Data Source 7,Military Experience,Class,Depreciation,Notes,Edit Date
Possible Motive - General,,,,,,,,,,,,,,,,,,,,,
Domestic Dispute,6,6,6,6,6,6,6,6,6,6,...,6,5,1,1,1,6,6,6,0,6
Domestic dispute,27,27,27,27,27,27,27,27,27,27,...,27,20,14,8,1,27,27,27,0,27
Drug use,2,2,2,2,2,2,2,2,2,2,...,1,1,0,0,0,2,2,2,0,2
"Drug use, Robbery",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,1,1,1,0,1
Drug use/Financial difficulties,2,2,2,2,2,2,2,2,2,2,...,2,2,1,1,0,2,2,2,0,2

In [12]:
shooting_data.columns[1:]

Index(['Title', 'Location', 'City', 'State', 'Latitude', 'Longitude',
       'Number of Civilian Fatalities', 'Number of Civilian Injured',
       'Number of Enforcement Fatalities', 'Number of Enforcement Injured',
       'Total Number of Fatalities', 'Total Number of Victims', 'Description',
       'Date', 'Day of Week', 'Date - Detailed', 'Shooter Name',
       'Number of shooters', 'Shooter Age(s)', 'Average Shooter Age',
       'Shooter Sex', 'Shooter Race', 'Type of Gun - Detailed',
       'Type of Gun - General', 'Number of Shotguns', 'Number of Rifles',
       'Number of Handguns', 'Total Number of Guns',
       'Number of Automatic Guns', 'Number of Semi-Automatic Guns',
       'Fate of Shooter at the scene', 'Fate of Shooter',
       'Shooter's Cause of Death', 'School Related', 'Place Type',
       'Relationship to Incident Location', 'Targeted Victim/s - Detailed',
       'Targeted Victim/s - General', 'Possible Motive - Detailed',
       'Possible Motive - General', 'History of Mental Illness - Detailed',
       'History of Mental Illness - General', 'Data Source 1', 'Data Source 2',
       'Data Source 3', 'Data Source 4', 'Data Source 5', 'Data Source 6',
       'Data Source 7', 'Military Experience', 'Class', 'Depreciation',
       'Notes', 'Edit Date'],
      dtype='object')